* {
	margin: 0px;
	padding: 0px;
	font-family: Open Sans;
}

.hip {
	font-family: Hipsterish;

}

.container-fluid {
	padding: 0px;
}

header {
	border-bottom: 1px solid black;
}

@font-face {
    font-family: Hipsterish;
    src: url(/assets/hipsterish/HipsterishFontNormal.ttf);
}

