* {
	margin: 0px;
	padding: 0px;
	font-family: 'Open Sans Reg', sans-serif;
}

.hip {
	font-family: Hipsterish;

}

a.green {
	color: #aad26a;
}

.green {
	color: #aad26a;
}

.container-fluid {
	padding: 0px;
}

header {
	border-bottom: 1px solid black;
}
	#logo {
		height: 50px;
		width: 60px;
		display: inline-block;
	}
	#navbar {
		height: 70px;
		margin-bottom: 0px;
		background-color: blue;
		width: 100%;
	}

	#pnavbar {
		height: 70px;
		margin-bottom: 0px;
		background-color: blue;
		width: 100%;
	}

	a.navbar-brand {
		margin-left: 0px;
	}

	#signupbtn {
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 20px;
		background: #f2738e;
		padding: 5px 25px 5px 25px;
		text-decoration: none;
		margin-top: 18px;
		margin-right: 25px;
	}

	#cabtn {
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 16px;
		background: #f2738e;
		padding: 5px 25px 5px 25px;
		text-decoration: none;
		margin-top: 12px;
	}

	.selectbtn {
		-webkit-border-radius: 28;
		-moz-border-radius: 28;
		border-radius: 28px;
		font-family: Arial;
		color: #ffffff;
		font-size: 16px;
		background: #f2738e;
		padding: 5px 25px 5px 25px;
		text-decoration: none;
		margin: 12px 0;
	}

	.price_head {
		color: #fff;
		font-size: 16px;
		font-weight: bold;
		height: 30px;
		padding-top: 5px; 
	}
#home {
		background-image: url(/assets/images/main.png);
		-webkit-background-size: cover;
	    -moz-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	    height: 100%;
	    color: #fff;
	    padding-bottom: 30px;
}
	#price_pic {
		background-image: url(/assets/images/VEGETABLES1.jpg);
		width: auto;
		height: 200px;
		z-index: -100;
		background-size: cover;
		text-align: center;
		color: #fff;
	}

	#price_con {
		background-color: rgba(113, 85, 45, 0.6);
		width: auto;
		height: 200px;
		padding: 25px;
	}

	#price_pic h1 {
		font-size: 50px;
	}

	#pstart {
		background-color: #b3e03f;
	}
	
	#pstand {
		background-color: #7bd553;
	}

	#pprod {
		background-color: #3ad5a0;
	}
	#psub {
		margin-top: 10px;
		font-size: 10px;
	}
	.ith {
		height: 200px;
		width: 200px;
		margin-left: 80px;
	}

#beyond {
	background-color: #a2916a;
	padding: 0px;
	height: 375px;
	color: #fff;
}

#savesome {
	height: 375px;
	padding: 0px;
}

#savetext {
	margin-top: 70px;
}

h1 {
	font-size: 60px;
}

#home h3 {
	padding-bottom: 15px;
}

#lettuce {
	font-size: 55px;
}

.bold {
	font-weight: 900;
	font-size: 20px;
}
#ptitle {
	font-size: 150px;
}
@font-face {
    font-family: Hipsterish;
    src: url(/assets/hipsterish/HipsterishFontNormal.ttf);
}
@font-face {
    font-family: Open Sans Reg;
    src: url(/assets/open_sans/OpenSans-Regular.ttf);
}
@font-face {
    font-family: Open Sans Italic;
    src: url(/assets/open_sans/OpenSans-Italic.ttf);
}
@font-face {
    font-family: Open Sans Light;
    src: url(/assets/open_sans/OpenSans-Light.ttf);
}

